<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">

<hibernate-configuration>

    <session-factory>

        <!-- Database connection settings -->
        <property name="connection.driver_class">org.h2.Driver</property>
        <property name="connection.url">jdbc:h2:mem:db1;DB_CLOSE_DELAY=0;MVCC=true</property>
        <property name="connection.username">sa</property>
        <property name="connection.password"/>

        <!-- JDBC connection pool (use the built-in) -->
        <property name="connection.pool_size">1</property>

        <!-- SQL dialect -->
        <property name="dialect">org.hibernate.dialect.H2Dialect</property>

        <!-- Disable the second-level cache  -->
        <property name="cache.provider_class">org.hibernate.cache.internal.NoCachingRegionFactory</property>

        <!-- Enable Hibernate's automatic session context management -->
        <property name="current_session_context_class">thread</property>

        <!-- Echo all executed SQL to stdout -->
        <property name="show_sql">true</property>

        <!-- Drop and re-create the database schema on startup -->
        <property name="hbm2ddl.auto">create-drop</property>

        <!-- Enable autoregistration of Joda Time datatypes -->
        <property name="jadira.usertype.autoRegisterUserTypes">true</property>
        <property name="jadira.usertype.currencyCode">USD</property>
        <property name="jadira.usertype.seed">org.jadira.usertype.spi.shared.DbTimestampSeed</property>

        <!--<mapping resource="org/hibernate/tutorial/hbm/Event.hbm.xml"/>-->
        <!--<mapping resource="rates/TimePeriod.hbm.xml"/>-->
        <mapping resource="rates/Season.hbm.xml"/>
        <mapping resource="rates/AvailabilityPeriod.hbm.xml"/>
        <mapping resource="rates/Package.hbm.xml"/>
        <mapping resource="rates/Rate.hbm.xml"/>
        <mapping resource="room/Room.hbm.xml"/>
        <mapping resource="room/RoomType.hbm.xml"/>

    </session-factory>

</hibernate-configuration>