<!DOCTYPE web-app
        PUBLIC "-//Sun Microsystems, Inc.//DTD Web Application 2.2//EN"
        "http://java.sun.com/j2ee/dtds/web-app_2.5.dtd">
<web-app>
    <display-name>Hotel management system</display-name>

    <servlet>
        <servlet-name>cometd</servlet-name>
        <servlet-class>org.cometd.server.CometdServlet</servlet-class>
        <init-param>
            <param-name>transports</param-name>
            <param-value>org.cometd.websocket.server.WebSocketTransport</param-value>
        </init-param>
    </servlet>
    <servlet-mapping>
        <servlet-name>cometd</servlet-name>
        <url-pattern>/cometd/*</url-pattern>
    </servlet-mapping>

    <filter>
        <filter-name>cross-origin</filter-name>
        <filter-class>org.eclipse.jetty.servlets.CrossOriginFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>cross-origin</filter-name>
        <url-pattern>/cometd/*</url-pattern>
    </filter-mapping>

    <context-param>
        <param-name>shiroConfigLocations</param-name>
        <param-value>/config/shiro.ini</param-value>
    </context-param>

    <listener>
        <listener-class>org.objectledge.web.LedgeServletContextListener</listener-class>
    </listener>

    <listener>
        <listener-class>org.objectledge.cometd.BayeuxServerHookListener</listener-class>
    </listener>

    <listener>
        <listener-class>org.apache.shiro.web.env.EnvironmentLoaderListener</listener-class>
    </listener>

    <context-param>
        <param-name>root</param-name>
        <param-value>workdir</param-value>
    </context-param>

    <filter>
        <filter-name>ShiroFilter</filter-name>
        <filter-class>org.apache.shiro.web.servlet.ShiroFilter</filter-class>
    </filter>

    <filter-mapping>
        <filter-name>ShiroFilter</filter-name>
        <url-pattern>/*</url-pattern>
        <dispatcher>REQUEST</dispatcher>
        <dispatcher>FORWARD</dispatcher>
        <dispatcher>INCLUDE</dispatcher>
        <dispatcher>ERROR</dispatcher>
    </filter-mapping>

    <servlet>
        <servlet-name>ledge</servlet-name>
        <servlet-class>org.objectledge.web.LedgeServlet</servlet-class>
        <init-param>
            <param-name>dispatcher</param-name>
            <param-value>main</param-value>
        </init-param>
    </servlet>

    <servlet>
        <servlet-name>rest</servlet-name>
        <servlet-class>org.objectledge.web.LedgeServlet</servlet-class>
        <init-param>
            <param-name>dispatcher</param-name>
            <param-value>restDispatcher</param-value>
        </init-param>
    </servlet>

    <servlet-mapping>
        <servlet-name>ledge</servlet-name>
        <url-pattern>/ledge/*</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>rest</servlet-name>
        <url-pattern>/rest/*</url-pattern>
    </servlet-mapping>

    <session-config>
        <session-timeout>30</session-timeout>
    </session-config>

    <security-role>
        <role-name>nobody</role-name>
    </security-role>

    <security-constraint>
        <web-resource-collection>
            <web-resource-name>Application data</web-resource-name>
            <url-pattern>/config/*</url-pattern>
            <url-pattern>/locale/*</url-pattern>
            <url-pattern>/logs/*</url-pattern>
            <url-pattern>/templates/*</url-pattern>
            <url-pattern>/data/*</url-pattern>
        </web-resource-collection>
        <auth-constraint>
            <role-name>nobody</role-name>
        </auth-constraint>
    </security-constraint>
</web-app>



